PORT=3090
NODE_ENV=development

# Token compartido con FitoDeportes backend (ARCA_TOKEN)
API_TOKEN=fito_arca_2026_tSy9Qm4vN8pL2kR7xD1hF5uJ3wE6zA0cB

# ARCA mode: homologacion | produccion
ARCA_MODE=homologacion

# Certificado y clave privada (PEM)
ARCA_CERT_PATH=/home/marcossuhit/Proyecto Propio/FitoDeportes/Certificados/cert.pem
ARCA_KEY_PATH=/home/marcossuhit/Proyecto Propio/FitoDeportes/Certificados/private.key


# CUIT emisor sin guiones
ARCA_CUIT=20333566096

# WSFEv1
ARCA_PTO_VTA=1
ARCA_CBTE_TIPO=6
ARCA_CONCEPTO=1
ARCA_DOC_TIPO_DEFAULT=99
ARCA_MON_ID=PES
ARCA_MON_COTIZ=1
ARCA_IMP_IVA_RATE=21

# SOAP endpoints (podés dejar defaults)
WSAA_URL=
WSFE_URL=

# Timeouts
HTTP_TIMEOUT_MS=30000
